<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
</head>
<body>
<div th:utext="${LoginFailed}">
</div>

<form th:action="@{/trello/users/login}" th:object="${userForm}" method="post">
    <div><label> User Name : <input type="text" name="username"  th:field="*{email}"/> </label></div>
    <div><label> Password: <input type="password" name="password" th:field="*{password}" /> </label></div>
    <div><input type="submit" value="Sign In"/><input type="reset"/></div>
</form>
<form th:action="@{/trello/users/register}" method="get">
    <input type="submit" name="submit" value="Registration">
</form>
<span style="color: red" th:utext="${LoginFailed}"></span>
<h3 style="color: midnightblue" th:utext="${RegisterSuccess}"></h3>
</body>
</html>